*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
.section{
    width: 100%;
    min-height: 100vh;
    background-color:white;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    float: right;
    padding-top: 40px;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
    color: black;
}
.content-section .content h3 {
    margin-top: 20px;
    color: azure;
    font-size: 25px;
}
.content-section .content p{
    margin-top: 10px;
    font-size: 18px;
    color:black;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
    color:black;
}
.content-section .content .button a{

    background-color: aliceblue;
    padding: 12px 40px;
    color: blueviolet;
    letter-spacing: 1.5px;
}
.content-section .content .button a:hover{
    background-color: crimson;
}
.content-section .social{
    margin:40px  40px;
}
.content-section.social i{
    color: dimgray;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section.social i:hover{
    color: aqua;
}
.topnav{
	overflow:hidden;
	background-color:#4caf5b(51, 51, 51);
}
.topnav a{
    float:left;
	color:#f2f2f2;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
	font-size:17px;
}
.topnav a:hover{
	color:black;
	background-color:#ddd;
}
.topnav a.active{
	
	background-color:#4caf5b;
	color:white;
}
body{
	margin: 0px;
	padding: 0px;
}
